<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comic+Relief:wght@400;700&display=swap" rel="stylesheet">
    <title>Usuarios</title>
</head>
<body>
    <div class="divgrandedelindex">
        <div class="divunodelindex">
            <h1>Nuevo Usuario</h1>
            <form action="/Crear_usuario" method="post">
                <label for="nombre">Nombre: </label>
                <input type="text" name="nombre" id="" required><br>
                <label for="email">E-mail: </label>
                <input type="email" name="email" id="" required><br>
                <label for="password">Password: </label>
                <input type="text" name="contrasena" id="" required><br>
                <input type="submit" value="Crear">
            </form>
        </div>

        <div class="divdos">
            <h1>Todos los Usuarios</h1>
            <table class="tabla_usuarios">
                <thead>
                    <tr></tr>
                </thead>
                <tbody>
                {% for usuario in usuarios %}
                    <td><a href="usuarios/{{ usuario.id }}">{{ usuario.nombre }}</a></td>
                {% endfor %}
                </tbody>
            </table><br>
            <a href="/canciones">Agregar Cancion</a>
        </div>
    </div>
</body>
</html>